<a href="https://colab.research.google.com/github/Qwarning/Sessac/blob/main/%ED%95%A8%EC%88%98%EC%99%80_%ED%81%B4%EB%9E%98%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def sum(num1, num2):
  result= num1 + num2
  return result

In [2]:
sum(2,4)

6

In [3]:
def sum2(num1, num2):
  print(f"{num1} + {num2} = {num1 + num2}")

In [4]:
sum2(8,1)

8 + 1 = 9

In [5]:
a= sum(1, 2)
b = sum2(1, 2)

1 + 2 = 3

In [6]:
print(a)
print(b)

3
None

In [7]:
def means(*values):
  a=0
  for i in values:
    a += i
  a /= len(values)
  print(a)

In [8]:
means(1,2, 3, 4)

2.5

In [9]:
def calcul(num1, num2):
  print(f'{num1} + {num2} = {num1 + num2}')
  print(f'{num1} - {num2} = {num1 - num2}')
  print(f'{num1} * {num2} = {num1 * num2}')
  print(f'{num1} / {num2} = {num1 / num2}')

In [10]:
calcul(6, 3)

6 + 3 = 9
6 - 3 = 3
6 * 3 = 18
6 / 3 = 2.0

##클래스 만들기

In [11]:
class calcul:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2
  def plus(self):
    return self.num1 + self.num2
  def minus(self):
    return self.num1 - self.num2
  def multi(self):
    return self.num1 * self.num2
  def divide(self):
    return self.num1 / self.num2

In [12]:
a = calcul(10, 20)
print(a.plus())
print(a.minus())
print(a.multi())
print(a.divide())

30
-10
200
0.5

##클래스 실습

In [13]:
class BankAccount:
  def __init__(self, number, name, money):
    self.number = number
    self.name = name
    self.money = money
  def chulgm(self, chul):
    self.money -= chul
  def ipgm(self, ip):
    self.money += ip
  def janek(self):
    print(f'{self.name}님의 남은 예금은 {self.money}입니다.')

In [14]:
x = BankAccount(123456789, '견규원', 989800)
x.janek()
x.chulgm(9800)
x.janek()
x.ipgm(20000)
x.janek()

견규원님의 남은 예금은 989800입니다.
견규원님의 남은 예금은 980000입니다.
견규원님의 남은 예금은 1000000입니다.

##상속

In [15]:
class BBankAccount(BankAccount):
  def janek(self):
    print(f'남은 돈 {self.money}')
x = BBankAccount(987654321, '견규원', 100)
x.janek()
x.chulgm(9800)
x.janek()
x.ipgm(20000)
x.janek()

남은 돈 100
남은 돈 -9700
남은 돈 10300